PORT=
MONGO_URI=mongodb://localhost:27017/resolveDB?retryWrites=true&w=majority
JWT_SECRET=
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
FACEBOOK_APP_ID=<your-facebook-app-id>
FACEBOOK_APP_SECRET=<your-facebook-app-secret>
FACEBOOK_CALLBACK_URL=http://localhost:5000/api/auth/facebook/callback
